
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Joystick Configurator</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<div class="container">

    <div class="io-box-container">

        <div class="master-section">
            <h3>Master (RFID)</h3>
        </div>

        <div class="io-box">
            <h4>Joystick Behavior</h4>
            <label><input type="radio" name="behavior" value="keyboard"> Keyboard</label>
            <label><input type="radio" name="behavior" value="mouse"> Mouse</label>
            <select>
                <option value="north">North</option>
                <option value="south">South</option>
                <option value="east">East</option>
                <option value="west">West</option>
            </select>
        </div>

    </div>

    <div class="io-box-container">

        <div class="io-box">
            <h4>IO34</h4>
            <label><input type="radio" name="inputType" value="keyboard"> Keyboard</label>
            <label><input type="radio" name="inputType" value="mouse"> Mouse</label>
            <label><input type="checkbox" name="pressed"> Keep Pressed</label>
            <input type="text" name="action" value="click left">
        </div>

        <div class="io-box">
            <h4>IO36</h4>
            <label><input type="radio" name="inputType" value="keyboard"> Keyboard</label>
            <label><input type="radio" name="inputType" value="mouse"> Mouse</label>
            <label><input type="checkbox" name="pressed"> Keep Pressed</label>
            <input type="text" name="action" value="click left">
        </div>

    </div>

    <div class="io-box-container">

        <div class="io-box">
            <h4>IO35</h4>
            <label><input type="radio" name="inputType" value="keyboard"> Keyboard</label>
            <label><input type="radio" name="inputType" value="mouse"> Mouse</label>
            <label><input type="checkbox" name="pressed"> Keep Pressed</label>
            <input type="text" name="action" value="click left">
        </div>

        <div class="io-box">
            <h4>IO39</h4>
            <label><input type="radio" name="inputType" value="keyboard"> Keyboard</label>
            <label><input type="radio" name="inputType" value="mouse"> Mouse</label>
            <label><input type="checkbox" name="pressed"> Keep Pressed</label>
            <input type="text" name="action" value="click left">
        </div>

    </div>

</div>

<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
