
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Joystick Configurator</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<div class="container">

    <div class="master-container">

        <div class="io-box-container">

            <div class="master-section">
                <h3>Master
                    <br>
                    (RFID)</h3>
            </div>

            <div class="io-box display-flex">
                <h4>Comportamiento del Joystick</h4>
                <span class="span1">
                    <label><input type="radio" name="behavior" value="keyboard"> Teclado </label>
                    <label><input type="radio" name="behavior" value="mouse"> Mouse </label>
                </span>
                <label class="io-box-select">
                    <p>Dirección de Arriba</p>
                    <select>
                        <option value="north">Norte</option>
                        <option value="south">Sur</option>
                        <option value="east">Este</option>
                        <option value="west">Oeste</option>
                    </select>
                </label>

            </div>

        </div>

        <div class="io-box-container">

            <div class="io-box display-flex">
                <h4>IO34</h4>
                <span class="span">
                    <label><input type="radio" name="behavior" value="keyboard"> Teclado </label>
                    <label><input type="radio" name="behavior" value="mouse"> Mouse </label>
                </span>
                <label><input type="checkbox" name="pressed"> Mantener Presionado</label>
                <p>Acción</p>
                <input class="input-box" type="text" name="action" value="click izq">
            </div>

            <div class="io-box display-flex">
                <h4>IO36</h4>
                <span class="span">
                    <label><input type="radio" name="behavior" value="keyboard"> Teclado </label>
                    <label><input type="radio" name="behavior" value="mouse"> Mouse </label>
                </span>
                <label><input type="checkbox" name="pressed"> Mantener Presionado</label>
                <p>Acción</p>
                <input class="input-box" type="text" name="action" value="esc">
            </div>

        </div>

        <div class="io-box-container">

            <div class="io-box display-flex">
                <h4>IO35</h4>
                <span class="span">
                    <label><input type="radio" name="behavior" value="keyboard"> Teclado </label>
                    <label><input type="radio" name="behavior" value="mouse"> Mouse </label>
                </span>
                <label><input type="checkbox" name="pressed"> Mantener Presionado</label>
                <p>Acción</p>
                <input class="input-box" type="text" name="action" value="click der">
            </div>

            <div class="io-box display-flex">
                <h4>IO39</h4>
                <span class="span">
                    <label><input type="radio" name="behavior" value="keyboard"> Teclado </label>
                    <label><input type="radio" name="behavior" value="mouse"> Mouse </label>
                </span>
                <label><input type="checkbox" name="pressed"> Mantener Presionado</label>
                <p>Acción</p>
                <input class="input-box" type="text" name="action" value="q">
            </div>

        </div>

    </div>

    <div class="slave-container">

        <div class="io-box-container">

                <div class="slave-section">
                    <h3>Slave
                        <br>
                        Device</h3>
                </div>

                <div class="io-box display-flex">
                    <h4>Comportamiento del Joystick</h4>
                    <span class="span1">
                        <label><input type="radio" name="behavior" value="keyboard"> Teclado </label>
                        <label><input type="radio" name="behavior" value="mouse"> Mouse </label>
                    </span>
                    <label class="io-box-select">
                        <p>Dirección de Arriba</p>
                        <select>
                            <option value="north">Norte</option>
                            <option value="south">Sur</option>
                            <option value="east">Este</option>
                            <option value="west">Oeste</option>
                        </select>
                    </label>

                </div>

            </div>

        <div class="io-box-container">

                <div class="io-box display-flex">
                    <h4>IO34</h4>
                    <span class="span">
                        <label><input type="radio" name="behavior" value="keyboard"> Teclado </label>
                        <label><input type="radio" name="behavior" value="mouse"> Mouse </label>
                    </span>
                    <label><input type="checkbox" name="pressed"> Mantener Presionado</label>
                    <p>Acción</p>
                    <input class="input-box" type="text" name="action" value="e">
                </div>

                <div class="io-box display-flex">
                    <h4>IO36</h4>
                    <span class="span">
                        <label><input type="radio" name="behavior" value="keyboard"> Teclado </label>
                        <label><input type="radio" name="behavior" value="mouse"> Mouse </label>
                    </span>
                    <label><input type="checkbox" name="pressed"> Mantener Presionado</label>
                    <p>Acción</p>
                    <input class="input-box" type="text" name="action" value="click en medio">
                </div>

            </div>

        <div class="io-box-container">

                <div class="io-box display-flex">
                    <h4>IO35</h4>
                    <span class="span">
                        <label><input type="radio" name="behavior" value="keyboard"> Teclado </label>
                        <label><input type="radio" name="behavior" value="mouse"> Mouse </label>
                    </span>
                    <label><input type="checkbox" name="pressed"> Mantener Presionado</label>
                    <p>Acción</p>
                    <input class="input-box" type="text" name="action" value="shift">
                </div>

                <div class="io-box display-flex">
                    <h4>IO39</h4>
                    <span class="span">
                        <label><input type="radio" name="behavior" value="keyboard"> Teclado </label>
                        <label><input type="radio" name="behavior" value="mouse"> Mouse </label>
                    </span>
                    <label><input type="checkbox" name="pressed"> Mantener Presionado</label>
                    <p>Acción</p>
                    <input class="input-box" type="text" name="action" value="ctrl">
                </div>

            </div>

    </div>

</div>

    <div class="action-button">
        <button type="submit">
            Escribir en RFID Tag
        </button>
    </div>

<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
